body {
  margin-left: 8%;
  margin-right: 30%;
}

ul.valilehti {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

li.valilehti {
  display: inline;
  padding: 0% 5% 0% 5%;
  background-color: deepskyblue;
}

ul.valikko {
  list-style-type: none;
}

li.valikko:before {
  content: "↠";
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: white;
}

h3 {
  color: rgb(1, 178, 235);
  font-family: "Lucida Grande", Geneva, Arial, sans-serif;
  padding-top: 10%;
}

#left {
  float: left;
  width: 25%;
  position: relative;
  top: -100px;
  left: 0px;
}

#right {
  float: right;
  width: 75%;
  position: relative;
  top: -80px;
  left: 0px;
}

img.kartta {
  width: 100%;
}

img.taivas {
  width: 100%;
}

input.paikkakunta {
  width: 50%;
}

p.tasma {
  font-family: Arial, Helvetica, sans-serif;
}