td {
 min-width: 50px;
 min-height: 50px;
 width: 50px;
 height: 50px;
 border: 1px solid black;
 margin: 0;
 padding: 0;
}

table {
 border-spacing: 0;
 border-collapse: collapse;
}

.musta {
 background-color: black;
 color: white;
}

span {
	margin: 5px;
	padding: 0;
	min-width: 50px;
	min-height: 50px;
	display: block;
	border-radius: 50%;
}

span.blue {
	background: radial-gradient(ellipse at center, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
}

span.red {
	background: radial-gradient(ellipse at center, #fff9f0 0%, #ffebcb 47%, #ffdba1 100%);
}